.alert-box {
    display: block;
    width: 500px;
    height: 100px;
    background-color: yellow;
}

.test {
    display: none;
    width: 500px;
    height: 100px;
    background-color: purple;
}

.yellow-bg {
    background: yellow;
    
}